.Button {
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .3s ease-in;
    text-align: left;
    min-width: 200px;
    display: block;
    width: 100%;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Choice{
    border: 1px solid #C2DFFF;
    background-color: #151B54;
    color: white;
}

.Choice:hover{
    background-color: #949AD3;
}

.Save{
    border: 1px solid #2E8B57;
    background-color: #90EE90;
    color: white;
    text-align: center;
}

.Save:hover{
    background-color: #98FB98;
}

.Publish{
    border: 1px solid darkpurple;
    background-color: purple;
    color: white;
    text-align: center;
}

.Publish:hover{
    background-color: lightpurple;
}

.AddChoice{
    border: 1px solid #C2DFFF;
    background-color: #151B54;
    color: white;
    text-align: center;
}

.AddChoice:hover{
    background-color: #949AD3;
}

