.Search{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    border: 3px solid white;
    z-index: 500;
    background-color: #eee;
    padding: 40px 20px;
    transition: all .3s ease-in;
}

.Closed{
    transform: translateY(-100%);
}

.Open{
    transform: translateY(0);
}

.Title{
    text-align: center;
}