.NavItem{
    margin-left: 10px;
}

.NavItem a{
    color: white;
    text-decoration: none;
}

.NavItem a:hover{
    color: limegreen;
    text-decoration: none;
}

.Button a{
    background-color: #eee;
    color: limegreen;
    padding: 5px;
    border-radius: 8px;
}

.Button a:hover{
    color: black;
}